@use "../abstracts/mixins";

.app-notification {
	@include mixins.set-position(fixed, false);
    align-self: center;
    z-index: 20;

	& > p {
        
        background-color: rebeccapurple;
        padding: 5px 30px;
        border-radius: 5px;
		@include mixins.set-anim(
            0, 
            vertical, 
            vertical-notification, 
            300px, 
            0, 
            300ms, 
            0s, 
            0px,
            notif
        );
	}
}
